<!DOCTYPE html>
<head>
    <!-- 여기서부터  -->
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css?ver=1"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="../public/stylesheets/style.css" rel="stylesheet" type="text/css"></link>

    <!-- 여기까지 부트스트랩 -->
    <style>
        @import url(../public/stylesheets/style.css);
        .btn {
            border: 1px solid blue;
        }
    </style>
  

<script>
    
    </script>
    </head>
<body>
    <div class="container">
        <div class= "text-center col-12">
            <h1 style="margin: 10% 0 10% 0">
            강의실 예약
            </h1>
          </div>
        <div class = "row">
          <div class="font-weight-bold text-center col-12">
            <% for(var i=0; i<rows1.length; i++){
                %>
                <button type="btn" class="btn btn-outline-primary" 
                onclick="location.href=`/rsv/room?roomno=<%=rows1[i]%>`">
                    <%=rows1[i]%>
                 </button>
                 <br><br>
                 <%
            }
            %>
<!--              
             <button type="btn" class="btn btn-outline-primary" onclick="location.href='room.html'">
                강의실 2
             </button>
             <button type="btn" class="btn btn-outline-primary" onclick="location.href='room.html'">
                강의실 3
             </button> -->
          </div>
        </div>
      </div>
      
</body>