<!DOCTYPE html>
<html>
<head>

</head>
<body>
  <table style = "border:1;">
    <caption> 강의실 일정 관리</caption>
    <colgroup>
      <col width="20%" />
      <col width="20%" />
      <col width="50%" />
    </colgroup>
    <thead>
      <th>날짜</th>
      <th>요일</th>
      <th>일정 확인</th>
    </thead>
    <tbody>
    <%
      for(var i =0; i<rows.length; i++){
    %>
       <tr>
         <td><%></td>
       </tr> 
    <%
      }
      %>
    </tbody>
  </table>
</body>
</html>